@use "../../assets/styles/variables" as *;

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1 0 auto;
}

.main__menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: $gap-large;
}

.main__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__title-heading {
  display: flex;
  align-items: center;
  gap: 18px;
}

.main__title-heading h1 {
  font-weight: $font-weight-bold;
  font-size: $font-size-heading;
  color: $color-font-main;
}

.main__buttons {
  display: none;
  gap: 25px;
}

.button {
  display: flex;
  align-items: center;
  gap: $gap-s;
  color: $color-font-main;
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: $font-size-base;
  border: none;
  background-color: $color-bg-light;
}

.services-list__items {
  display: flex;
  list-style: none;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  margin-left: $gap-base;
  gap: $gap-xs;
}

.services-list__items::-webkit-scrollbar {
  display: none;
}

.services-list__item {
  border: 2px solid transparent;
  color: $color-font-secondary;
  cursor: pointer;
  flex-shrink: 0;
  padding: $gap-xs 10px;
  font-size: $font-size-base;
}

.services-list__item:hover,
.services-list__item:focus,
.services-list__item--active {
  background-color: $color-white;
  border-radius: 5px;
  border: 2px solid $color-line;
}

.about-us {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: $color-bg-light;
  margin: 0 auto;
}

.about-us__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: $color-font-main;
}

.about-us__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
  padding: 0 16px;
  letter-spacing: 0.2px;
}

.about-us__paragraph--secondary {
  max-height: 0;
  overflow: hidden;
  transition: max-height $transition-default;
}

.about-us.expanded .about-us__paragraph--secondary {
  max-height: 500px;
}

.about-us > div:last-child img {
  width: 100%;
  height: auto;
  display: block;
  margin-right: $gap-base;
  margin: 0 auto;
}
.main__title .button .icon svg {
  color: $color-icons;
  transition: fill $transition-default;
}

.button:hover .icon svg {
  color: $color-icons-animation;
}
