@use '../../assets/styles/variables' as *;


.header {
  display: block;
  background-color: $color-white;
  width: 100%;
  border-bottom: 1px solid $color-line;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 0 $gap-base;
  gap: 25px; 
}

.header__left-side,
.header__right-side {
  display: flex;
  gap: 25px; 
  align-items: center;
  justify-content: space-between;
}

.header__left-side img,
.header__right-side img {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.header__slash,
.header__contacts {
  display: none;
}

.header__slash--center {
  display: block;
}

.header__slash {
  height: 32px;
}

.header .icon, .header .header__slash--center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header .icon svg {
  display: block;
  width: 40px;  
  height: 40px;
  transition: color 0.3s ease;
}

.header .icon #svg-logo {
  width: 97px ;
  height: 51px;
  transition: color 0.3s ease;
}

.header a:hover .icon svg,
.header button:hover .icon svg {
  color: $color-icons-animation;
}