.main__brands {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.brands__title {
  background: linear-gradient(
    to right,
    rgba(248, 248, 248, 1),
    rgba(255, 255, 255, 1)
  );
  padding: 16px;
}

.brands__title-text {
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: rgba(126, 126, 130, 1);
}
.swiper {
  width: 100%;
  padding: 0 16px;
}
.swiper-wrapper.swiper-wrapper__brands {
  height: max-content;
}

.brands-slider__slide {
  width: 240px !important;
}

.brand-card {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 240px;
  height: 72px;
  padding: 0 16px;
  background-color: #fff;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 6px;
  box-sizing: border-box;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(221, 221, 221, 1);
  opacity: 1;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}

.swiper-pagination-bullet-active {
  background-color: rgba(181, 182, 188, 1);
}
.button__read,
.button__close {
  gap: 8px;
  margin-left: 24px;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: rgba(27, 28, 33, 1);
  background-color: rgba(246, 246, 246, 1);
  border: none;
  font-family: "TT Lakes";
}

.slider--mobile {
  display: block;
}

.swiper__container {
  padding-left: 16px;
}

