@use "../../assets/styles/variables" as *;

.devices-slider .brand-card {
  width: 240px;
  height: 160px;
  padding: $gap-base;
}

.devices-slider .brand-card p {
  margin-bottom: auto;
}

.devices-slider .brand-card img {
  align-self: flex-end;
  margin-top: auto;
}
.devices-slider .brand-card {
  position: relative;
}

.image__text {
  position: absolute;
  top: $gap-base;
  left: $gap-base;
  color: $color-font-main;
}

.devices-slider .brand-card .icon {
  position: absolute;
  right: $gap-base;
  bottom: $gap-base;
}
