.devices-slider .brand-card {
  width: 240px;
  height: 160px;
  padding: 16px;
}

.devices-slider .brand-card p {
  margin-bottom: auto;
}

.devices-slider .brand-card img {
  align-self: flex-end;
  margin-top: auto;
}

