@use '../../assets/styles/variables' as *;

.burger-wrapper {
  display: flex;
  flex-shrink: 0;
  width: $burger-width;
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: clamp($burger-width, 100%, 360px);
  max-width: 360px;
  height: 100vh;
  background: $color-white;
  z-index: $z-index-modal;
  box-shadow: 0 $gap-xl $gap-xxxxl $color-shadow;
  display: flex;
  gap: $gap-xxl;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transform: translateX(-100%);
  transition: transform $transition-default;
}

body:not(.menu-open) .burger-menu {
  box-shadow: none;
}

body.menu-open .burger-menu {
  transform: translateX(0);
}

.menu-toggle {
  display: none;
}

body.menu-open .overlay {
  display: block;
}

.burger-menu__sections {
  display: flex;
  flex-direction: column;
  gap: $gap-large;
}

.burger-menu__top,
.burger-menu__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu__top {
  padding: $gap-base $gap-large 0 clamp($gap-base, 5vw, $gap-large);
}

.burger-menu__left {
  gap: $gap-base;
}

.burger-menu__list {
  display: flex;
  flex-direction: column;
  gap: $gap-base;
}

.burger-menu__item {
  display: flex;
  align-items: center;
  gap: clamp(12px, 5vw, 20px);
  font-family: $font-main;
  font-weight: $font-weight-regular;
  font-size: $font-size-base;
  line-height: 24px;
}

.burger-menu__icon {
  height: 32px;
  opacity: 0;
  transition: opacity $transition-default;
}

.burger-menu__item--active .burger-menu__icon,
.burger-menu__item:hover .burger-menu__icon,
.burger-menu__item:focus-within .burger-menu__icon {
  opacity: 1;
}

.burger-menu__link {
  color: $color-black;
  transition: filter $transition-default, opacity $transition-default, color $transition-default;
}

.burger-menu__link:hover,
.burger-menu__link:focus {
  filter: brightness(0.85);
  opacity: 0.7;
  color: $color-font-secondary;
}

.burger-menu__bottom {
  display: flex;
  flex-direction: column;
  gap: $gap-s;
  padding: 0 0 $gap-xxl clamp($gap-base, 5vw, $gap-large);
}

.burger-menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.burger-menu__mail {
  padding-top: 4px;
  font-weight: $font-weight-regular;
}

.burger-menu__phone {
  font-family: $font-main;
  font-size: $font-size-title;
  font-weight: $font-weight-medium;
  line-height: 32px;
}

.burger-menu__icons {
  display: flex;
  gap: $gap-base;
}

.burger-menu__languages {
  display: flex;
  gap: 7px;
}

.burger-menu__button {
  font-family: $font-main;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  border: none;
  background-color: $color-white;
  color: $color-font-main;
}

.burger-menu__item--active .burger-menu__link,
.burger-menu__button--active {
  color: $color-font-secondary;
}
