@use './variables' as *;
// @use '../../assets/styles/mixins' as *;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  background-color: $color-bg-light;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.read-more {
  display: flex;
  gap: $gap-s;
  font-weight: $font-weight-medium;
  padding-left: $container-padding;
  letter-spacing: -0.2px;
}

.button--hidden {
  display: none;
}

button,
.read-more,
.call-btn {
  cursor: pointer;
}

.call-btn {
  border: none;
  background-color: $color-white;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: $z-index-overlay;
  display: none;
}

body.menu-open .overlay,
body.feedback-open .overlay {
  display: block;
}

.main__title-heading svg, .read-more svg{
    color: $color-font-primary;
}

header svg {
  color: $color-icons;
}

.fade-left {
  position: relative;

}

.fade-left::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 100%;
  background: linear-gradient(to left, #F8F8F8 0%, rgba(248, 248, 248, 0.01) 100%);
  pointer-events: none;
  z-index: 10;
}

.overlay--visible {
  display: block;
}

.burger-wrapper.closed {
  display: none;
}

.modal-feedback.closed {
  display: none;
}


