@use "./variables" as *;

@media (max-width: 767px) {
  .content {
    gap: $gap-xxl;
  }
  .button__read,
  .button__close {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__slash {
    display: block;
  }

  .header__nav {
    padding: 0 24px;
  }

  .header__slash--center {
    display: block;
  }

  .header__contacts {
    display: flex;
    gap: 25px;
  }

  .burger-menu {
    width: $burger-width;
  }
  .burger-menu__sections {
    gap: $gap-xxxl;
  }
  .burger-menu__item {
    gap: $gap-large;
  }
  .burger-menu__list {
    gap: $gap-xl;
  }
  .burger-menu__bottom {
    padding: 0 0 $gap-xl $gap-large;
    gap: $gap-xxl;
  }
  .content {
    gap: $gap-xl;
  }
  .main__title-heading h1 {
    font-size: 30px;
  }
  .about-us {
    flex-direction: row;
    justify-content: space-between;
  }
  .about-us__info,
  .about-us > div:last-child {
    width: 50%;
  }
  .about-us > div:last-child img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }
  .about-us__paragraph--secondary {
    max-height: 45px;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .devices-slider .brand-card {
    width: 224px;
    box-sizing: border-box;
  }
  .footer {
    padding: 35px $gap-large 25px $gap-large;
  }
  .foofter__text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    align-items: start;
  }
  .text__year,
  .text__company {
    text-align: start;
  }
  .text__privacy {
    text-align: center;
  }
  .text__info {
    text-align: end;
  }
  .button__read {
    display: flex;
  }
  .swiper {
    padding: 0 $gap-large;
  }
  .swiper-wrapper.swiper-wrapper__brands,
  .swiper-wrapper.swiper-wrapper__devices {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    gap: $gap-base $gap-large;
  }
  .swiper-slide {
    width: auto !important;
    margin-right: 0 !important;
  }
  .main__brands {
    gap: $gap-large;
  }
  .brands__title {
    padding: $gap-base $gap-large;
  }
  .brands-slider.limited {
    max-height: calc($gap-gigantic * 2 + $gap-base);
    overflow: hidden;
  }
  .brands-slider.limited + .button__read,
  .brands-slider:not(.limited) + .button__close {
    display: flex;
    font-family: $font-main;
  }
  .prices__header {
    display: grid;
    grid-template-columns:
      minmax(348px, 1fr)
      24px
      minmax(61px, 1fr)
      0
      minmax(81px, 1fr)
      20px
      1fr;
    padding-left: $gap-xxl;
    color: $color-font-secondary;
  }
  .swiper.prices-slider {
    border-radius: $border-radius;
    padding: 0 $gap-large;
  }
  .swiper-wrapper.price-wrapper {
    display: grid !important;
    grid-auto-rows: auto;
    row-gap: 0;
    column-gap: $gap-large;
    background-color: $color-white;
    border-radius: $border-radius;
    padding: 0 $container-padding;
    width: auto !important;
  }
  .swiper-slide.prices-slide {
    display: grid;
    grid-template-columns:
      minmax(348px, 1fr)
      24px
      minmax(74px, 1fr)
      22px
      minmax(81px, 1fr)
      20px
      1fr;
    grid-auto-rows: auto;
    row-gap: 0;
    height: 64px;
    border-radius: $border-radius;
    padding: 0;
    align-items: center;
  }
  .item-1 {
    grid-column: 1;
  }
  .item-2 {
    grid-column: 3;
  }
  .item-3 {
    grid-column: 5;
  }
  .item-4 {
    grid-column: 7;
  }
  .prices-slide__item {
    display: contents;
  }
  .slide__label {
    display: none;
  }
  .slide__button {
    justify-self: end;
    position: static;
  }
  .swiper-pagination {
    display: none !important;
  }
  .information {
    padding: 0 $gap-large;
  }
}

@media (min-width: 1120px) {
  .layout {
    flex-direction: row;
  }
  .content {
    width: calc(100% - $burger-width);
  }
  .header {
    display: none;
  }

  .main__menu {
    padding-top: 42px;
  }
  .main__title {
    justify-content: space-between;
    margin-right: 20px;
  }
  .main__buttons {
    display: flex;
  }
  .services-list__items {
    flex-wrap: wrap;
  }
  .about-us {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    gap: $gap-large;
  }
  .about-us__info {
    width: 47%;
  }
  .about-us__text {
    width: 100%;
  }
  .about-us > div:last-child {
    width: 50%;
  }
  .about-us > div:last-child img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }
  .about-us__paragraph--secondary {
    max-height: fit-content;
  }
  .burger-wrapper {
    display: flex !important;
    flex-shrink: 0;
    width: $burger-width;
  }
  .burger-menu {
    position: relative;
    transform: none !important;
    width: $burger-width;
    height: auto;
    box-shadow: none;
    z-index: auto;
  }
  .burger-menu__top {
    padding: 30px 31px 0 22px;
  }
  .burger-button,
  .burger-menu__close {
    display: none !important;
  }
  .swiper-wrapper.price-wrapper {
    padding: 0 $gap-large;
  }
  .footer {
    padding: 32px 31px 21px 31px;
  }
}

@media (min-width: 1440px) {
  .modal-feedback {
    max-width: 440px;
    padding: $gap-xl;
    border-left: 1px solid rgba(217, 255, 245, 1);
  }
  .modal-feedback__top {
    flex-direction: row;
    gap: 38px;
    position: relative;
    left: -96px;
  }
  .title__container {
    gap: $gap-xl;
  }
}

@media (min-width: 1572px) {
  .button__read,
  .button__close {
    display: none;
  }
}
