.footer {
  flex-shrink: 0;
  border-top: 1px solid rgba(217, 255, 245, 1);
  padding: 16px 4px 19px 4px;
}

.foofter__text {
  color: rgba(126, 126, 130, 1);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.text__year,
.text__company,
.text__privacy,
.text__info {
  text-align: center;
  letter-spacing: 0.2px;
}

